/*Tela cheia*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

main {
    /*footer ir para baixo*/
    height: 80vh;
}

.login {
    /*para o index ficar certo*/
    width: 100%;
    height: 80vh;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;
}

/*ja tenho login*/

.title{
    padding: 0px 30px 0px 0px;
}

.input-box-login a{
  font-size: 13px;
  padding-bottom: 0.05px;
}

.input-box-login {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    
}

.input-box-login input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box-login input:hover {
    background-color: #eeeeee75;
}

.input-box-login input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box-login label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box-login input::placeholder {
    color: #000000be;
}

/*NavBar*/

nav {
    background: #6b63fff1;
    height: none;
    width: 100%;
}

.logoimg {
    width: 100px;
    display: flex;
    float: left;
    padding: 10px;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: Inter;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active:hover {
    background: rgb(75, 70, 156);
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*footer*/

footer {
    width: 100%;
    color: white;
}

#footer_content {
    background-color: #6b63fff1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#linkedin {
    background-color: #0e76a8;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: white;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #4267b3;
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: black;
    border: none;
    color: white;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 0px 4px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

/*Tela Login*/

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-imagem {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-imagem img {
    width: 20rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 2rem;
    padding: 10px 0 1px 0;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #6b63ff;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.inputs-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.campo-formulario small {
    color: var(--error-color);
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.continue-button button {
    width: 100%;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #6b63fff1;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}




@media screen and (max-width: 1330px) {

    /*navbar*/
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }

    /*deixar responsivo */
    .form-imagem {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}



@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .inputs-group {
        flex-direction: column;
        overflow: scroll;
        overflow-x: hidden;
        flex-wrap: nowrap;
        max-height: 15rem;
        padding-right: 8rem;
    }

    .inputs-group-login {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 15rem;
        padding-right: 8rem;
        align-items: flex-start;
    }


    .title {
        font-size: 15px;
    }

    .login-button button {
        border: none;
        background-color: #6c63ff;
        padding: 0.3rem 0.7rem;
        border-radius: 3px;
        cursor: pointer;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #6c63ff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover a.active {
        background: none;
        color: #6b63fff1;
    }

    #check:checked~ul {
        left: 0;
    }
}

@media screen and (max-width:768px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;

    }
}

/*contato.html*/
/*Formulario*/
.box {
    display: flex;
    justify-content: center;
    /*alinhar na horizontal*/
    align-items: center;
    /*alinhar na vertical*/
    height: center;
    width: center;
    background-color: transparent;
    /*cor do fundo */
    padding: 10px;
    border-radius: 10px;
    color: black;
    /*cor da fonte*/
    overflow: hidden;
}

fieldset {
    border: 3px solid #6c63ff;
    /*Cor da borda do formulario */
    padding: 5px 10px;
}

legend {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    color: #6c63ff;
}

.box form {
    display: flex;
    justify-content: center;
    /*alinhar na horizontal*/
    align-items: stretch;
    flex-direction: column;
    /*deixar em coluna*/
    gap: 1rem;
    /*espaço entre os blocos*/
    min-width: 30%;
    padding: 10px;
}

.box p {
    font-size: 15px;
}

.box label {
    font-size: 15px;
}

.inputs {
    padding: 6px 5px;
    outline: none;
    border-radius: 5px;
    background-color: #6c63ff;
    border: 2px solid #6c63ff;
    color: white;
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
    resize: none;
    /*tirar o redimensionamento do textarea */
}

.inputs:focus {
    /*quando clica*/
    border-color: white;
}

.box-select {
    display: flex;
    justify-content: space-between;
}

.box textarea {
    padding: 6px 5px;
    outline: none;
    border-radius: 5px;
    background-color: #6c63ff;
    border: 2px solid #6c63ff;
    color: white;
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}